/* styles.css 
.skill-bar {
    height: 20px;
    background-color: #444344;
    position: relative;
}

.skill-level {
    height: 100%;
    background-color: #e7e9ec;
    position: absolute;
    top: 0;
    left: 0;
}
*/